@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --BlackOpac: hsl(0, 0%, 0%);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Kumbh Sans";
}

body{
  display: grid;
  place-items: center;
}

main{
  position: relative;
  display: grid;
}
.root{
  position: relative;
  display: grid;
  align-items: center;
}

svg path {
  fill: #000;
}

@media screen and (min-width:280px) {
  main{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:800px) {
  .root{
    padding: 2rem 0px;
    height: 100vh;
    min-width: 1200px;
    grid-template-rows: auto 1fr;
    gap: 5rem;
  }
  main{
    justify-self: center;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr;
  }
}